aiogram==2.15
aiohttp==3.7.4.post0
aioredis==2.0.0
asgiref==3.4.1
cryptography==35.0.0
Django==3.2.7
django-environ==0.7.0
django-scheduler==0.9.5
django-timezone-field==4.2.1
djangorestframework==3.12.4
emoji==1.6.0
environ==1.0
redis==3.5.3
requests==2.26.0
typing-extensions==3.10.0.2
urllib3==1.26.7
psycopg2-binary